header{
    background-color:#6c3939f3;
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
    position: fixed;
    padding: 20px;
    width: 1320px;
    margin: 0%;
    color: white;
}
header img{
padding: 50px;
width: 50px;
float: left;
margin-top: -35px;
border-radius: 50%;
}
.botton{
    cursor: pointer;
}   
.botton:hover{
    opacity: 0.8;
}
nav{
    position: fixed;
    width: 99%;
    margin-top: 150px;
}
nav ul{
    background-color: #c99494;
    display: flex;
  

}
nav a{
    margin: 10px;
    text-decoration:none ;
    color: azure;
}
nav a:hover{
    color: rgb(85, 56, 153);

}
#nosotros{
background-image: url(img/quienessomos\ .png);
}
#imgprincipal img{
height: 800px;
width: 1360px;
}
body{
    background-color: #7a636774;
  
}
body p{
    font-family: Arial, Helvetica, sans-serif;
    
}
#block1 img{
height: 350px;
width: 600px;
border-radius: 40px;

}
#block2 img{
    height: 350px;
    width: 600px;
    border-radius: 40px;
    }

#block3 img{
    height: 350px;
    width: 600px;
    border-radius: 40px;
}

footer{
    background-color: #6c393945;
    padding: 90px;
}
    